html {
    height:100%;
    padding:0;
    margin:0;
}

body {
    background: hsl(225,18%,44%);
    background-color hsl(225,18%,44%);
    height:100%;
    padding:0;
    margin:0;    
    font-family: Montserrat, Open Sans, Segoe UI, sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.hilight-fg {
    color: #fbeed7;
}

.text-shadow {
    text-shadow: 1px 1px 2px rgba(0,0,0,0.25);
}

.center {
    justify-content: center;
    align-items: center;
}