<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset='utf-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<meta name='viewport' content='width=device-width, initial-scale=1'>
    {% block headmeta %}{% endblock %}
   <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    {% block scripts %} {% endblock %}
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"> 
    {% block css %} {% endblock %}
</head>
{% block content %}{% endblock %}
</html>    