{% extends "base.jinja2" %}
{% block headmeta %}
	<title>Pyramid Demo</title>
{% endblock %}
{% block scripts %}
    <script type='text/javascript' src="{{ request.static_url('demo:static/js/invoice.js') }}"></script>
{% endblock %}
{% block css %}
    <link rel= 'stylesheet' type= 'text/css' href= "{{ request.static_url('demo:static/css/invoice.css') }}">
{% endblock %}
{% block content %}
<div class='flex-column center'>
    <h1 class='text-center hilight-fg text-shadow'>Invoice Manager</h1>
    <div id='creation-controls'>
        <form id='invoice-form' onsubmit='return submitCreateInvoice()' class='flex-column small-box mid-bg margin-half'>
            <div id='date-invoice' class='flex'>
                <div class='margin-half'>Invoice Date (optional)</div>
                <input class='margin-half' name='date' type='date'>
            </div>
            <input type='submit' value='Create Invoice'>
         </form>
         
         <form id='item-form' onsubmit='return submitCreateItem()'class='flex-column small-box mid-bg margin-half'>
             <div id='description-item' class='flex'>
                 <div class='margin-half flex-2'>Item Description</div>
                 <input class='margin-half flex-2' name='description' type='text' value='default description'>
            </div>
             <div id='parent-id-item' class='flex'>
                 <div class='margin-half flex-2'>Parent ID</div>
                 <input class='margin-half flex-2' name='parent_id' type='number' min='1' value= '1'> 
             </div>
             <div id='units-item' class='flex'>
                 <div class='margin-half flex-2'>Units</div>
                 <input class='margin-half flex-2' name='units' type='number' min='0' value= '1'>
             </div>
             <div id='units-item' class='flex'>
                 <div class='margin-half flex-2'>Amount</div>
                 <input class='margin-half flex-2' name='amount' type='number' min='0' step='0.01' value='1.00'>
             </div>
             <input type='submit' value='Create Invoice Item'>
          </form>
    </div>
    
    <button class='large-box' id='fetch-button'>Refresh Invoices</button>
    <div id='invoice-list' class='flex-column flex-wrap'></div>
</div>
{% endblock %}